@import "tailwindcss";

@theme {
  --font-sans: "DM Sans", system-ui, sans-serif;
  --font-serif: "DM Serif Text", Georgia, serif;

  --color-verde-200: #ACEF75;
  --color-verde-300: #91EE77;
  --color-verde-400: #17E880;
  --color-verde-700: #2E482C;
  --color-verde-800: #16281F;
  --color-verde-900: #0F1C15;
  --color-verde-950: #030504;
  --background-padrao: url('/src/assets/img/padrao.svg');
}

@utility container {
  margin-inline: auto;
  padding-inline: 0.5rem;
}

@utility neon {
  @apply rounded-full border border-verde-200 bg-gradient-to-b from-verde-200 to-verde-400;
  box-shadow: 
    0 1px 4px 1px color-mix(in srgb, var(--color-verde-200) 25%, transparent),
    inset 0px -1px 2px var(--color-verde-200);
}

@utility btn{
  @apply rounded-full border border-verde-200 bg-gradient-to-b from-verde-200 to-verde-400 px-5 py-2 text-verde-900 transition hover:contrast-200;
  box-shadow: 
    0 1px 4px 1px color-mix(in srgb, var(--color-verde-200) 25%, transparent),
    inset 0px -1px 2px var(--color-verde-200);
}

@utility input{
  @apply rounded-md border-2 border-verde-800 bg-verde-800 text-white focus:outline-none focus:ring-2 focus:ring-verde-400 focus:border-verde-900 placeholder:text-verde-900 p-2;
}

@media (min-width: 640px) {
  .container {
    padding-inline: 1rem;
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@utility animate-slide-in {
  animation: slideIn 0.4s ease-in-out forwards;
}

@utility animate-fade-in {
  animation: fadeIn 0.4s ease-in-out forwards;
}

@utility delay-0   { animation-delay: 0ms; }
@utility delay-75  { animation-delay: 75ms; }
@utility delay-100 { animation-delay: 100ms; }
@utility delay-150 { animation-delay: 150ms; }
@utility delay-200 { animation-delay: 200ms; }
@utility delay-300 { animation-delay: 300ms; }
@utility delay-500 { animation-delay: 500ms; }
@utility delay-700 { animation-delay: 700ms; }
@utility delay-1000 { animation-delay: 1000ms; }